# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual C++ Express 2010
*.ipch
*.user
*.suo
*.sdf
[Dd]ebug/
[Rr]elease/